<%- include('header'); -%>

<h2>Lorem ipsum dolor sit amet.</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta et vero dolore
  fugiat facere illo laborum iusto libero pariatur, voluptatibus ullam id
  accusantium, deserunt officia dolorum error eos quo voluptas!
</p>

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam nobis, vel
  facilis voluptates illo animi saepe optio! Voluptates, recusandae voluptate.
</p>

<%- include('footer'); -%>
